node_modules

# Config file with database credentials
server/config.js
client/config.js

# Uploaded media files
server/public/uploads/*

# Environment variables
server/.env
server/config.js.BACKUP
client/.env
client/config.js.BACKUP

# KVK Api certificate chain
/server/certs/*

/software/

.history
