@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

body {
  font-family: "Poppins", sans-serif;
  color: grey; /* TODO: Change to white when background image is set */
}

strong {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}

.outer-div {
  background-image: url("../images/background/galaxy.jpg");
}

/* Import TailwindCSS */
@tailwind base;
@tailwind components;
@tailwind utilities;
