@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

html {
  height: 100%;
}

body {
  font-family: "Poppins", sans-serif;
  color: white;
  height: 100%;
}

strong {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}

.outer-div {
  background-image: url("../images/background/galaxy.jpg");
  background-attachment: fixed;
}

/* Import TailwindCSS */
@tailwind base;
@tailwind components;
@tailwind utilities;
